/* =Reset default browser CSS.
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
svg:not(:root) {
  overflow: hidden;
}
img {
  -ms-interpolation-mode: bicubic;
}
.clear {
  padding: 0;
  margin: 0;
  border: none;
  height: 0;
  visibility: hidden;
  clear: both;
}
@font-face {
  font-family: 'tommy';
  src: url('/fonts/tommys-webfont.eot');
  src: url('/fonts/tommys-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/tommys-webfont.woff2') format('woff2'), url('/fonts/tommys-webfont.woff') format('woff'), url('/fonts/tommys-webfont.ttf') format('truetype'), url('/fonts/tommys-webfont.svg#tommys_first_alphabetregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
a:hover {
  cursor: url("/img/cursor.png"), pointer;
}
body {
  font-family: 'courier new';
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-family: 'tommy', sans-serif;
  text-align: center;
  font-size: 3em;
  margin-top: 20px;
}
#julien {
  background-image: url("/img/ju-sprite.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 379px;
  width: 350px;
  position: relative;
  margin: 20px auto;
}
#julien:hover {
  background-position: top center;
}
#julien #pupilleft,
#julien #pupilright {
  position: relative;
  background: #000000;
  border-radius: 50%;
}
#julien #eyeleft,
#julien #eyeright {
  position: absolute;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 50%;
}
#julien #pupilleft,
#julien #pupilright {
  width: 10px;
  height: 10px;
}
#julien #eyeleft {
  width: 30px;
  height: 30px;
  left: 151px;
  top: 136px;
}
#julien #eyeright {
  width: 30px;
  height: 30px;
  left: 225px;
  top: 127px;
}
.menu {
  text-align: center;
}
.menu li {
  display: inline-block;
  margin: 20px;
}
.menu a {
  -webkit-transform: scale(0.8) rotate(0);
  -moz-transform: scale(0.8) rotate(0);
  -o-transform: scale(0.8) rotate(0);
  transform: scale(0.8) rotate(0);
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  font-family: 'tommy', sans-serif;
  text-decoration: none;
  font-size: 40px;
  color: #000;
}
.menu a:hover {
  -webkit-transform: scale(1) rotate(-360deg);
  -moz-transform: scale(1) rotate(-360deg);
  -o-transform: scale(1) rotate(-360deg);
  transform: scale(1) rotate(-360deg);
}
.menu a.active {
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: twirl 10s ease-in-out infinite;
  -moz-animation: twirl 10s ease-in-out infinite;
  -webkit-animation: twirl 10s ease-in-out infinite;
  -o-animation: twirl 10s ease-in-out infinite;
  -ms-animation: twirl 10s ease-in-out infinite;
}
@keyframes twirl {
  0% {
    transform: rotateZ(0deg) scale(0);
  }
  100% {
    transform: rotateZ(12000deg) scale(3);
  }
}
@-moz-keyframes twirl {
  0% {
    -moz-transform: rotateZ(0deg) scale(0);
  }
  100% {
    -moz-transform: rotateZ(12000deg) scale(3);
  }
}
@-webkit-keyframes twirl {
  0% {
    -webkit-transform: rotateZ(0deg) scale(0);
  }
  100% {
    -webkit-transform: rotateZ(12000deg) scale(4);
  }
}
@-o-keyframes twirl {
  0% {
    -o-transform: rotateZ(0deg) scale(0);
  }
  100% {
    -o-transform: rotateZ(12000deg) scale(3);
  }
}
@-ms-keyframes twirl {
  0% {
    -ms-transform: rotateZ(0deg) scale(0);
  }
  100% {
    -ms-transform: rotateZ(12000deg) scale(3);
  }
}
.fb-like.fb_iframe_widget {
  margin: 50px auto 20px auto;
  display: block;
  width: 60px;
}
.content {
  width: 400px;
  margin: 20px auto;
}
.content p,
.content ul {
  line-height: 1.5;
  margin-bottom: 15px;
}
.content li {
  padding-bottom: 8px;
}
@media screen and (max-width: 1023px) {
  
}
